<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <add name="SqlConnection"
      connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=LitrevresourceDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NET,Version=5.0"/>
  </startup>
</configuration>